.gradient { 
	background:radial-gradient(#ffff7a, #7affff); 
	height: 700px;
}

.gradient2 {
	background: radial-gradient(#ffcfaa, #ffaacf);
	height: 700px;
}

.gradient3 {
	background: radial-gradient(#f3e8d6, #f8dcd4);
	height: 700px;
}
